@font-face {
	font-family: "Champagne";
	src:url(../fonts/Champagne-&-Limousines-Bold.ttf) format("truetype");
}
@font-face {
	font-family: "Freestyle";
	src:url(../fonts/FREESCPT.TTF) format("truetype");
}